<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>Welcome to the blog!</h1>
    </header>
<nav>
    <a>Blogs</a>
    <a>Login</a>
    <a>Sign up</a>
</nav>

{{{body}}}


<footer>
    You smell!
</footer>
</body>
</html>