<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <h1>Welcome to the blog!</h1>
    </header>
<nav>
    <a href="/posts">Blogs</a>
    {{#unless loggedIn}}
    <a href="/user">Login</a>
    <a href="/user">Sign up</a>
    {{/unless}}
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <button id="logout">Logout</button>
    {{/if}}
</nav>

{{{body}}}


<footer>
    You smell!
</footer>
</body>
</html>